<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.see.wcx.shop.mdao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.see.wcx.shop.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
   
  <sql id="Base_Column_List" >
  LOGIN_NAME,NAME,PASSWORD,SALT,BIRTHDAY,GENDER,EMAIL,PHONE,ICON,CREATE_DATE,STATE,DESCRIPTION,LOGIN_COUNT,PREVIOUS_VISIT,LAST_VISIT,DEL_FLAG,ID
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
</mapper>